* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #E5ECF9;
}

.auth-container {
  display: flex;
  height: 700px;
  width: 1000px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  margin: auto;
  margin-top: 100px;
}

.info {
  background-image: url('./assets/avion.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 150px 50px;
  width: 50%;
}

.txt-1 {
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 25px;
}

.info h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 25px;
}

.info hr {
  width: 55px;
  border: 4px solid #fff;
  margin: auto;
  margin-bottom: 25px;
}

.txt-2 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.form {
  padding: 120px 80px;
  width: 50%;
  text-align: center;
  background-color: #fff;
}

.form h2 {
  color: #097EF6;
  font-size: 30px;
  margin-bottom: 25px;
}

.form p {
  font-size: 16px;
  color: #c4c3c3;
  margin-bottom: 25px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.box {
  outline: none;                     
  border: none;                       
  border-left: 5px solid #097EF6 !important;     
  padding: 15px 35px;               
  margin-bottom: 20px;               
  background-color: #F9F9F9;       
  box-sizing: border-box;             
  transition: border-color 0.3s;      
}


.inputs a {
  color: #097EF6;
  text-decoration: none;
  font-size: 15px;
  margin-bottom: 35px;
}

.submit {
  background-color: #097EF6;
  padding: 15px;
  border: 0;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 30px; 
}


.msg {
  color: #666;
  margin-top: 10px;
}

@media(max-width: 990px) {
  .container {
    width: 350px;
    height: 600px;
    margin-top: 100px;
  }

  .info {
    display: none;
  }

  .form {
    width: 100%;
    padding: 30px;
  }

  .form h2 {
    margin-top: 40px;
  }
}
